.header-wrapper {
    width: 100%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text{
        align-items: center;
        text-align: center;
    }
    h2 {
      font-size: 80px;
      text-align: center;
      align-items: center;
      @include media(">=phone", "<lgphone") {
        font-size: 14px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 16px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 16px;
      }
    }
    .heading-wrapper {
      h1 {
        font-size: 80px;
        text-align: center;
        line-height: 20px;
        @include media(">=phone", "<lgphone") {
          font-size: 1.5rem;
          line-height: 10px;
        }
        @include media(">=lgphone", "<tablet") {
          font-size: 1.5rem;
          line-height: 10px;
        }
        @include media(">=tablet", "<desktop") {
          font-size: 2.5rem;
        }
      }
    }
    p {
      width: 50%;
      text-align: center;
      overflow: hidden;
      @include media(">=phone", "<lgphone") {
        font-size: 12px;
        width: 100%;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 12px;
        width: 100%;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 14px;
        width: 100%;
      }
    }
  }
  .primary-btn{
    background-color: #c2fbd7;
    border-radius: 50px;
    border-width: 0;
    color: black;
    cursor: pointer;
}
